<% provide(:title, @user.name) %>
<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>
<h2>Current time: <%= Time.now %></h2>
<ul>
    <li>Email address: <%= @user.email %></li>
    <li>Created at: <%= @user.created_at %></li>
    <li>Updated at: <%= @user.updated_at %></li>
</ul>
